{% extends "training_planner/base_exercise.html" %}
{% block content %}
<form method="post">{% csrf_token %}
    {{ form.as_p }}


    {% for form in form.range_formset %}

    {{ form.as_p }}
    {% endfor %}


    {% for form in form.value_formset %}

    {{ form.as_p }}
    {% endfor %}

    <input type="submit" value="Save">
</form>
{%endblock content%}

{% block menuelement %}

{{block.super}}
{% url 'training_planner:exercise_delete' object.id as the_url%}

<li class="list-group-item"><a href="{{ the_url }}">Exercise Delete</a></li>
{% endblock menuelement%}