{% extends "training_planner/base_trainingsquery.html" %}

{% block content %}


<br>

<ul class="list-group">
     <li class="list-group-item"><b>{{trainingsquery.name}}</b></li>
    <li class="list-group-item">{{trainingsquery.description}}</li>


    <li class="list-group-item"><a href="{{trainingsquery.generall_exercise_query.get_absolute_url}}">Übergeordneter Filter</a></li>


</ul>

<br>

    <h3>Filter</h3>

    <ul class="list-group">
    {% for exercisequery in trainingsquery.exercise_queries.all %}
    <li class="list-group-item"><a href="{{exercisequery.get_absolute_url}}">{{ exercisequery.name }}</a></li>
    {% endfor %}
</ul>

<br>

{% if view.kwargs.show_results == 'show' %}

<h3>Vorgeschlagende Übungsabfolge</h3>



<ul class="list-group">

    {% for exercise in trainingsquery.query_set.choices %}
    <li class="list-group-item"><a href="{{exercise.get_absolute_url}}">{{ exercise.name }}</a></li>
    {% endfor %}
</ul>

<br>

<h3>Sonnstigen Übung</h3>

<ul class="list-group">

    {% for exercisequery in trainingsquery.query_set.possible_choices %}

    <li class="list-group-item"><b>Abschnitt {{ forloop.counter }}</b></li>

    {% for exercise in exercisequery %}

    <li class="list-group-item"><a href="{{exercise.get_absolute_url}}">{{ exercise.name }}</a></li>
    {% endfor %}
    {% endfor%}
</ul>

{% else %}

<a href="{% url 'training_planner:trainings_query_details' pk=trainingsquery.id show_results='show'%}"
   class="btn btn-primary">Show
    Results</a>

{% endif %}




{% endblock %}